{% extends 'alumnos/base.html'  %}
{% load static %}


{% block titulo  %} Crud paciente{% endblock %}
{% block contenido %}

    <h1>Editar Datos del Paciente</h1><br><br>
    
    <button type="button">
        <a href="{% url 'paciente_add' %}" class="btn btn-warning"> Agregar</a>
    </button>
    {% if mensaje %}
    <div id="idMensajes">
        
                <p class="alert">{{ mensaje }}</p>
            
    </div>
    {% endif %}
    <table class="table">
        {% if alumnos %}
            <th>Rut</th>
            <th>Nombre</th>
            <th>Apellido P</th>
            <th>Eliminar</th>
            <th>Modificar</th>
            {% for x in alumnos %} 
                <tr>
                    <td>{{ x.rut}} 
                    <td>{{ x.nombre}} 
                    <td>{{ x.apellido_paterno}} 
                    <td> <a href="{% url 'paciente_del' pk=x.rut %} " >Eliminar</a>
                    <td> <a href="{% url 'paciente_findEdit' pk=x.rut %} ">Modificar</a>
                </tr>
            {% endfor %}
        {% endif %}      
    </table>

   
 {% endblock %}