{% extends 'alumnos/base.html'  %}
{% load static %}

{% block titulo  %} Add paciente{% endblock %}
{% block contenido %}
    
        <h2 class="mt-5"> Formulario Agregar Paciente</h2><br><br>
        <form action="{% url 'paciente_add' %}" method="POST" class="container py-5 col-lg-5 bg-dark">
            {% csrf_token %}
            <input class="col-lg-12 my-2" type="text" name="rut" placeholder="Ingrese su Rut" >
            <input class="col-lg-12 my-2" type="text" name="nombre"  placeholder="ingrese Nombre">
            <input class="col-lg-12 my-2" type="text" name="paterno" placeholder="Ingrese apellido paterno">
            <input class="col-lg-12 my-2" type="text" name="materno" placeholder="Ingrese apellido Materno">
             <input class="col-lg-12 my-2" type="date" name="fechaNac" >
    
                <select name="genero" class="mx-5">
                    {% for genero in generos %}
                        <option value="{{ genero.id_genero }}">
                          
                        {{genero.genero}}
                        </option>
                    {% endfor %}
                </select>
            
            <input class="col-lg-12 my-2" type="text" name="telefono" placeholder="Ingrese su telefono">
            <input class="col-lg-12 my-2" type="email" name="email" placeholder="Ingrese su Correo" >
            <input class="col-lg-12 my-2" type="text" name="direccion"  placeholder="Ingrese su Direccion ">
            <input class="col-lg-2 btn btn-warning text-center" type="submit" name="opcion" value="Agregar">
        </form><br><br>
        <a href="{% url 'paciente_list' %}" class="btn btn-danger text-center">Volver</a><br>
        {% if mensaje %}
        <div id="idMensajes">
         
                <p class="alert">{{ mensaje }}</p>
           
        </div>
        {% endif %}
    
    {% endblock %}

