{% extends 'alumnos/base.html'  %}
{% load static %}


{% block titulo  %} Editando Paciente{% endblock %}
{% block contenido %}
    <div style="text-align: center;">
        {% if alumno %}
        <h2>Formulario Actualización Datos</h2><br><br>
        <form action="{% url 'pacienteUpdate' %}" method="POST" class="container py-5 col-lg-5 bg-dark text-white" >
            {% csrf_token %}
            <label for="rut">
                Rut
                <input id="rut" class="col-lg-10" type="text" name="rut" value="{{ alumno.rut }}">

            </label>
            <label for="name">
                Nombre
                <input class="col-lg-10" id="name" type="text" name="nombre" value="{{ alumno.nombre }}">
            </label>

            <label for="">
                <input  type="text" name="paterno" value="{{ alumno.apellido_paterno }}">

            </label>
            <label for="">
                <input  type="text" name="materno" value="{{ alumno.apellido_materno }}">

            </label>
            <label for="">
                <input  type="date" name="fechaNac" value="{{ alumno.fecha_nacimiento|date:'Y-m-d' }}">
            </label>
            <label for="">
                <select name="genero">
                    {% for genero in generos %}
                        {% if genero.genero == alumno.id_genero.genero %}
                            <option value="{{ genero.id_genero }}" selected>{{ genero.genero }}</option>
                        {% else %}
                            <option value="{{ genero.id_genero }}">{{ genero.genero }}</option>
                        {% endif %}
                    {% endfor %}
                </select>

            </label>
            <label for="">
                <input class="col-lg-5" type="text" name="telefono" value="{{ alumno.telefono }}">

            </label>
            <label for="">
                <input class="col-lg-5" type="email" name="email" value="{{ alumno.email }}">
            </label>
            <label for="">
                <input class="col-lg-5" type="text" name="direccion" value="{{ alumno.direccion }}">
            </label>
            <input class="col-lg-5 btn btn-warning" type="submit" name="opcion" value="Actualizar">
        </form><br><br>
        {% endif %}
        {% if mensaje %}
        <div id="idMensajes">
           
            <p class="alert">{{ mensaje }}</p>
        
        </div>
        {% endif %}
        <br><br>
        <a href="{% url 'paciente_list' %} " class="btn btn-danger">Volver</a>
    </div>
{%endblock %}
